@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTI2MTUyNC1kZXY6TXMwVHlaVkxyUjdEM0h2aHVMbzkzR1pnUDhCWVduMEY=
always-auth=true
