<ng-container *ngIf="product$ | async as product">
  <div *ngIf="product | async as prd">
    <div
      class="container"
      [routerLink]="{ cxRoute: 'product', params: prd } | cxUrl"
    >
      <div class="row">
        <div class="col-lg ldm">
          <div class="row">
            <h3>{{ title$ | async }}</h3>
          </div>
          <div class="row">
            <h1>{{ prd?.name.slice(0, 18) }}</h1>
          </div>
          <div class="row summary">
            <p><span [innerHTML]="prd?.description.slice(0, 200)"></span>...</p>
          </div>
          <div class="row price" *ngIf="prd?.price">
            {{ prd.price?.formattedValue }}
          </div>
        </div>
        <div class="col-sm content-image">
          <img
            src="{{prd.images?.['PRIMARY']['product']?.url}}"
            width="251px"
            height="398px"
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>
