/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

//change the default font
//@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900&display=swap&subset=latin-ext");
$font-family-base: "Raleway", sans-serif;

$styleVersion: 4.3;
// remove default styles for the header section and some components
$skipComponentStyles: (header, cx-mini-cart, cx-login-form);

$styleVersion: 4.3;
@import '~@spartacus/styles/index';


cx-navigation-ui > nav:nth-of-type(n + 6) {
  display: none;
}

// define color variables
:root {
  // --cx-color-secondary: #f1f2f3;
  --cx-color-primary: #43464e;
  --ssf-light-primary: #f1f2f3;
  --ssf-dark-primary-base: 29, 31, 34;
  --ssf-green-primary: #5ece7b;
  --ssf-red-olf: #e51139;
}

cx-navigation-ui.flyout {
  a,
  span {
    font-weight: 400;
  }
}

cx-navigation-ui.accNavComponent {
  nav {
    span {
      height: 15px;
      margin: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      bottom: -7px;
      padding-top: 3px;
      margin-top: 3px;
      width: 40px;
    }
  }
}

// generic link component styles
cx-generic-link {
  a {
    text-decoration: underline;
  }
}

// site context selector component styles
cx-site-context-selector {
  color: var(--cx-color-primary);
  margin-top: 0;
  margin-bottom: 0;

  select {
    background: none;
  }
}

// mini cart component styles
// remove default component styles first: `$skipComponentStyles: (cx-mini-cart);`
cx-mini-cart {
  margin-right: 1rem;
  position: relative;

  a {
    color: initial;
  }

  .total {
    display: none;
  }

  .count {
    padding: 0 0.25rem;
    position: absolute;
    top: -0.5rem;
  }
}

// searchbox component styles
cx-searchbox > * {
  background-color: transparent;
}

cx-searchbox {
  position: relative;
  z-index: 20;
  //border-bottom: 2px solid var(--cx-color-primary);
  //color: var(--cx-color-primary);
  //margin-bottom: 0.25rem;
  .searchbox {
    height: 40px;
    margin: 0;
    position: relative;
    width: 240px;

    input {
      background: #f1f2f3;
      border-radius: 27px;
      border: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      height: 100%;
      line-height: 26px;
      padding: 11px 20px;
      width: 100%;
    }
  }

}

cx-page-layout.LandingPage2Template cx-page-slot.Section1 {
  margin-top: unset;
}


header {
  .NavigationBar {
    margin-left: 0px;
  }
}

.btn {
  font-size: $font-size-base * 1.125;
  text-transform: none;
  line-height: 1.34;
  padding: 11px 12px;
  height: 48px;
  max-height: 48px;
  min-width: 48px;
  border-radius: var(--cx-buttons-border-radius);
}


cx-add-to-cart {
  .btn-block {
    display: block;
    width: 200px;
  }
}

cx-product-images {
  cx-media {
      width: 100%;
      height: 80%;
  }
}
