.bottom-nav {
  background-color: white;
  height: 4.5em;
}

.row > * {
  flex: 1;
}

.cart-bulb {
  align-items: center;
  background-color: #1071ff;
  border-radius: 100%;
  display: flex;
  height: 66px;
  justify-content: center;
  width: 66px;
}
.count {
  color: currentColor;
  align-self: center;
  padding-inline-start: 10px;
  font-size: var(--cx-font-size, 0.9rem);
  font-weight: var(--cx-font-weight-bold);
  padding-inline-end: 0;
  margin-bottom: -5px;
}


