.btn-commande-rapide {
    color: #7467BA;
    border: solid 1px;
    border-color: #7467BA;
    font-size: 18px;
    height: 51.59px;
    min-width: auto;
    white-space: nowrap;
    text-align: center;
    --cx-color-visual-focus: #FFFFFF;
}



