<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <header> <!-- Searchbox must be in header tag, otherwise it has weird behavior -->
                <cx-searchbox></cx-searchbox>
            </header>
        </div>
        <div class="col">
            <a href="/my-account/quick-order" class="btn btn-commande-rapide">{{'olf.quickOrder' | cxTranslate}}&nbsp;<cx-icon type="BOLT"></cx-icon></a>
        </div>
    </div>
</div>
