/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Inter:100,300,400,500,700,900&display=swap&subset=latin-ext");

$font-family-base: "Inter";

@import "styles-config";
@import "@spartacus/styles/index";
@import "olf-index";
@import "./styles/spartacus/header.scss";
@import "@spartacus/cart";
@import './app/spartacus/olf-storefront/olf-plp/olf-facet/olf-facet.component.scss';
@import './app/spartacus/olf-storefront/olf-plp/olf-facet-navigation/olf-facet-navigation.component.scss';
@import './app/spartacus/olf-storefront/olf-plp/olf-facet-list/olf-facet-list.component.scss';
@import './app/spartacus/olf-storefront/olf-plp/olf-active-facets/olf-active-facets.component.scss';
@import './app/spartacus/olf-storefront/olf-cart/olf-cart-details/olf-cart-details.component.scss';
@import './app/spartacus/olf-storefront/olf-cart/olf-cart-item-list/olf-cart-item-list.component.scss';
@import './app/spartacus/olf-storefront/olf-cart/olf-cart-item/olf-cart-item.component.scss';
@import './app/spartacus/olf-storefront/olf-cart/olf-cart-item-list-row/olf-cart-item-list-row.component.scss';
@import './app/spartacus/olf-storefront/olf-cart/olf-order-summary/olf-order-summary.component.scss';
@import './app/spartacus/olf-storefront/olf-cart/olf-cart-totals/olf-cart-totals.component.scss';
@import './app/spartacus/olf-storefront/olf-place-order/olf-place-order.component.scss';

// define color variables
:root {
  --cx-color-dark: #ffffff;
  --cx-color-primary: #ffffff;
  --cx-color-secondary: #7467BA;
  --cx-color-primary: #43464e;
  --cx-text-transform: none; //remove words capitalization
}

// header section styles
header {
  margin: 0 auto;
  @media (max-width: 992px) {
    width: 100%;
  }
  cx-page-layout cx-page-slot {
    flex: none;
  }
}

cx-navigation-ui {
  justify-content: center;
  color: #685e71;
}

// cx-page-layout section header
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: var(--cx-page-width-max);
  color: black !important;

  .NavigationBar {
    flex: 70%;
  }

  .SiteLogin {
    & > * {
      flex: none;
    }
  }
  @media (max-width: 992px) {
    flex-direction: row;
    justify-content: flex-end;
    .SiteLogo {
      width: 40%;
      margin: 2rem auto;
    }
    .NavigationBar {
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}

// TopHeaderSection styles
.top-header-background {
  background-color: var(--cx-color-secondary);
}

.TopHeaderSection {
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  margin: auto;
  max-width: var(--cx-page-width-max);
  @media (max-width: 576px) {
    justify-content: space-around;
    flex-direction: column;
  }

  .SiteLinks {
    justify-content: start;
    --cx-margin: 0.5rem 8px;

    & > * {
      flex: none;
    }

    // a trick to display only last site link on mobile
    @media (max-width: 768px) {
      cx-link {
        display: none;
      }

      cx-link:last-of-type {
        display: block;
      }
    }
  }

  .SiteContext {
    justify-content: end;

    &:after {
      border-top: none;
    }

    &>* {
      flex: none;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

cx-searchbox>* {
  background-color: #ffffff;
  position: relative;
  color: #685e71;
}

cx-searchbox>div>label {
  border: solid 1px;
  border-color: #c9c7c7;
  outline-width: 2px;
  outline-offset: 4px;
}

cx-searchbox>div>label>input:focus {
  border: none;
  border-color: none;
  outline-width: 0px;
}

cx-mini-cart {
  color: #685e71;
  justify-content: end;
}
cx-mini-cart a {
  background: none !important;
}

cx-mini-cart {
  margin-right: 1rem;
  position: relative;

  a {
    color: initial;
  }

  .total {
    display: none;
  }

  .count {
    padding: 0 0.5rem;
    position: absolute;
    top: -0.2rem;
    left: 2.25rem;
    font-size: 12px !important;
    font-weight: normal !important;
    font-family: Inter;
    background-color: #7467BA;
    border-radius: 100%;
    color: white !important;
  }
}

cx-site-context-selector select {
  float: right;
  margin: 0px;
  max-height: 30px;
  background-color: #7467BA;
}

.cx-notice {
  color: #5a5a5a;
}

header .SiteLinks {
  --cx-display: inline-block;
  background-color: #7467BA;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  header .SiteContext,
  header .SiteLinks,
  header .SiteLogin {
    background-color: #7467BA;
    color: #ffffff;
    --cx-display: inline-block;
  }
}

@media (max-width: 768px) {
  .TopHeaderSection .SiteLinks cx-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: baseline;
  }
}

@media (max-width: 768px) {
  .TopHeaderSection .SiteLinks cx-link:last-of-type {
    display: flex;
  }
}

cx-link a {
  font-family: inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 18.15px;
}

cx-site-context-selector {
  font-family: inter;
  color: #ffffff;
}

.searchbox {
  border-radius: var(--cx-buttons-border-radius);
}
cx-product-image-zoom-trigger {
  visibility: hidden;
}

cx-product-images>cx-media img {
  padding-top: 10px;
}

//change on users detail for each users
cx-org-list {
  cx-org-user-form {
    cx-org-form {
      div .full-width {
        display: none;
      }

      fieldset {
        display: none;

        .form-check {
          display: none;
        }

        .form-check:first-of-type {
          display: inline-block;
        }
      }

      fieldset:first-of-type {
        display: inline-block;
      }
    }
  }

  cx-org-card {
    .card {
      .main {
        .link-list {
          display: none;
        }
      }
    }
  }

  .close cx-icon {
    color: #7467BA !important;
  }

  h3 {
    text-transform: none !important;
  }
}

div.price {
  color: #7467BA;
  font-weight: bold;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Regular.ttf) format("opentype");
}

.cx-product-search-list h2 {
  color: #4a4a4a;
}

cx-navigation-ui.accNavComponent {
  nav {
    ul {
      li {
        button {
          opacity: 0;
          margin-left: -80px;
          margin-top: -80px;
          //font-weight: 100;
        }
      }
    }
  }
}

//Style the whole slot instead of <cx-icon.account> only to avoid empty space between the icon and the links.
.SiteLogin {
  margin-top: 2px;
  margin-right: -20px;
  margin-left: 40px;
}

//Hide review section on PLP
.cx-product-no-review {
  visibility: hidden;
}

//Hide rating section on PLP
.cx-product-rating {
  visibility: hidden;
}

//Hide rating section on PLP
.cx-product-rating {
  visibility: hidden;
}

//Display tiles side by side on Organization management page
.CompanyPageTemplate {
  .BodyContent {
    justify-content: space-evenly !important;
  }
}

//Remove Capitalization
cx-breadcrumb h1 {
  text-transform: none;
}

//footer
app-olf-footer {
  background-color: #7467BA;
  min-height: 411px;
  padding-top: 50px;

  cx-icon {
    font-size: xx-large;
  }
}

cx-cost-center {
  display: none;
}

cx-review-submit {
  cx-icon {
    color: #000000;
  }
}

cx-order-details-reorder {
  display: none;
}

.car :root {
  :focus {
    outline: none;
  }
}

//PDP

app-olf-product-references {
  padding-bottom: 50px;

  a {
    display: flex;

    flex-direction: column;

    text-align: center;

    justify-content: space-between;

    padding-bottom: 10px;

    color: var(--cx-color-text);

    &:focus {
      color: var(--cx-color-primary);

      z-index: 1;

      position: relative;
    }
  }

  cx-carousel>h2 {
    visibility: visible;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }

  cx-media {
    align-self: center;

    width: 60%;

    &.is-missing {
      min-height: 200px;
    }
  }
}

//cx-carousel > h2 {
//  visibility: visible;
//  margin-bottom: 0.5rem;
//}

app-olf-product-list-item {
  padding: 1rem;
}

app-olf-facet-navigation {
  min-width: 0;

  // hides the filter button in desktop experience
  @include media-breakpoint-up(lg) {
    button.dialog-trigger {
      display: none;
    }
  }
}

.cx-delivery-price {
  display: none;
}

//cx-org-list .card .header .actions {
//  display: none !important;
//}

.CrossSelling cx-carousel>h2 {
  text-align: left;
  color: #4a4a4a;
  font-size: 25px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
  width: 100%;
  font-weight: bold;
  margin-left: 15px;
}

cx-product-references {
  display: none;
}

cx-consignment-tracking {
  display: none;
}

.cx-list-status {
  display: none;
}

.product-reference {
  display: flex;
  flex-direction: row;
  text-align-all: center;
}

app-olf-product-list .cx-product-search-list {
  display: block;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--cx-color-light);
  margin: 0 0 25px;
}

.available {
  margin-top: -28px;
  margin-left: 50px;
}

.missing {
  margin-top: -28px;
  margin-left: 50px;
}

.fa-bolt {
  font-size: 1.2rem;
}
cx-product-references {
  display: none;
}
cx-product-references {
  display: none;
}

cx-consignment-tracking {
  display: none;
}

.cx-list-status {
  display: none;
}

.product-reference {
  display: flex;
  flex-direction: row;
  text-align: center;
}

//responsiveness
//PDP
cx-page-layout.ProductDetailsPageTemplate cx-page-slot.Summary {
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    cx-product-images {
      width: 90%;
      margin: auto;
    }
  }
}

app-olf-product-list .cx-product-search-list {
  display: block;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--cx-color-light);
  margin: 0 0 25px;
}

.available {
  margin-top: -28px;
  margin-left: 50px;
}

.missing {
  margin-top: -28px;
  margin-left: 50px;
}

.fa-bolt {
  font-size: 1.2rem;
}

cx-paragraph {
  padding-bottom: 50px;
}
.btn-primary {
  background-color: var(--cx-color-secondary) !important;
}
